.table-intro {
  width: 100%;
  border-width: 50%;
  text-align: center;
  padding: 1px;
}
.table-text{
  padding-left: 30px;
  padding-right: 40px;
  padding-top: 30px;
  
}
.table-text-header{
  padding-left: 30px;
  padding-right: 40px;
  font-weight: bold;
font-family: 'Ultra', sans-serif;  
}
