.adminNavBar{
    padding: 1%;
    font-size: large;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    float: right;
}
.barCell{
    width: 100%;
    margin: 1%;
    padding: 1%;
    font-size: large;
    font-weight: bold;
    color: green;
    border-radius: 15px;
    border: 2px solid green ;
    transition-duration: 0.2s;
}

.barCell:hover{
    border: 2px solid white;
    color: white;
    background-color: green;
    box-shadow: 0 0 3px 3px rgba(0, 38, 255, 0.3);
    transform: scale(1.05);
}

.dashboardBody{
    margin-top: 2%;
}