#main-container {
	display: table;
	width: 100%;
	height: 100%;
}

#sidebar {
	display: table-cell;
	width: 15%;
	vertical-align: top;

	
}

#content {
	display: table-cell;
	width: 65%;
	vertical-align: top;
	height: 2000px;
	padding: 10px 0 0 10px;
	
}
#item-container {
	display: table-cell;
	width: 400px;
	height: 100px;
}

.card {
	margin-left:15%;
	margin-right:15%;
	display: table-cell;
	width: 85%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	text-align: left;
  }
  
  .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
<<<<<<< Updated upstream
  
=======
  
.header-title{
	margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
}
p { 
	word-break: break-all ;
  }
>>>>>>> Stashed changes
